
#import url('https://fonts.googleapis.com/css2?family=Anton&family=Zen+Loop:ital@1&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: aliceblue;
    padding: 20px;
    
}

header>h1{
    color:rgb(22, 8, 8);
    font-family: 'Anton', sans-serif;
    text-align: center;
    

}
header>h1:hover{
    color:chartreuse;
}
body{
    background-color: rgb(16, 16, 41);
}
.score-board{
    margin-top: 100px; 
    margin-left: 400px;
    margin-right: 400px;
    color: aliceblue;
    border: solid white 10px;
    height:max-content;
    font-family: fantasy;
    text-align: center;
    font-size:2em ;
    float:center;
    padding: 20px 15px;
    
    box-shadow: 0 0.5em 0.5em -0.4em rgb(187, 36, 36);
    position: relative;
    
    
}
.badge{
    background-color: rgb(187, 36, 36);
    
}
#user-label{
    position:absolute;
    top:20px;
    left:-20px;

}
#computer-label{
    position:absolute;
    top:20px;
    right:-20px;

}
.result >p{
    color:white;
    text-align: center;
    margin:20px;
    font-size: 3em;
    font-family: fantasy;
}
.choices{
    margin:50px;
    text-align: center;
    
}
.choice{
    display: inline-block;
    border:20px solid rgba(255, 255, 255, 0.959);
    border-radius: 50%;
    margin:0 15px;
    transition: all 0.2 ease-in;
}
.choice:hover{
    cursor:pointer;
    background-color: darkorange;

}
#m {
    text-align: center;
    color:aqua;
    size: 3em;
}